/* Owl */
.partners, .partners-inner, #partners-id {
    float: left;
    width:100%;
}
.partners-inner { /* ovo vidi*/
    border-top: 1px solid #d8d8d8;
    background: #d8d8d8;
    margin-top:50px;
    text-align: center;
}
.partners-inner a h1{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    color: #3a3a3a;
}
#owl-demo .item{/* ovo vidi */
    margin: 3px;
}
#owl-demo .item img{ /* ovo vidi */
    display: block;
    width: 100%;
    height: auto;
}
.owl-prev {
    color: transparent;
    background-image: url(../img/left-owl.png);
    background-repeat: no-repeat;
    background-position: left;/* ovo je bitno bez se ne vidi strelica*/
    /*    color:#CACACA; ovo je boja strelice*/
    width:40px;/*dimenzije strelice */
    height:40px;
    left:-16px;/* pozicija strelice*/
    float:left;
    top:38%;
    position: absolute;
}
.owl-next {
    color: transparent;
    background-image: url(../img/rihgt-owl.png);
    background-repeat: no-repeat;
    background-position: left;
    width:40px;
    height:40px;
    right:-30px;
    float:right;
    top:38%;
    position: absolute;
    z-index:999;
}
/* / Owl carousel */